@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{ 
    margin: 10px;
    padding: 0; 
    box-sizing: border-box; 
    background-color: rgb(193, 193, 215);
    border: 2px solid black;
}

h2{ 
    font-family: "Montserrat", sans-serif;
    text-align: center;
    
}

.title{ 
    font-family: "McLaren", cursive !important;
    font-weight: bold;
}
.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.articles { 
    border: 2px solid black;
    margin: 10px;
    width: fit-content;
    padding: 10px;
    display: inline-block;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    }
